<!DOCTYPE html>
<html lang="en">
<head>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <component type="typeof(App)"
               render-mode="ServerPrerendered" />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>